<%- include('../partials/head.ejs') %>
<title>Webshop - Tak for din betaling!</title>
<%- include('../partials/after-head.ejs') %>
<%- include('../partials/header.ejs') %>
<main>
  <h2 class="success">Dit køb er gennemført!</h2>
</main>
<%- include('../partials/footer.ejs') %>
<%- include('../partials/after-body.ejs') %>